// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #000000 !important;
  background-color: #000000 !important;
}

.header-top {
  background: #34404e;
  background-color: #34404e;

  .header-logo {
    h1 {
      color: #ffffff;
    }
  }
}

.header-bottom {
  background: #34404e;
  background-color: #34404e;

  h2 {
    color: #ffffff;
    font-weight: 300;

    span {
      font-weight: bold;
    }
  }

  p {
    padding-left: 160px;
    padding-right: 160px;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
  }

  .columns {
    .button {
      a {
        font-size: 11px;
        text-transform: uppercase;
      }
    }

    .ghost-button {
      a {
        background-color: #34404e;
      }
    }
  }
}