// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #000000 !important;
  background-color: #000000 !important;
}

// Header Section

  // Top Header Section
  .top-header {
    background: #34404e;
    background-color: #34404e;

    .columns {
      padding-bottom: 0;

      .header-logo {
        h1 {
          color: #ffffff !important;
          margin-bottom: 0;
        }
      }

      .menu {
          a {
            font-size: 13px;
          }

        .important {
          a {
            color: #FA6A2F;
          }
        }
      }
    }
  }
  
  // // Bottom Header Section
  // .bottom-header {
  //   background: #34404e;
  //   background-color: #34404e;
  
  //   h2 {
  //     margin-bottom: 0;
  //     color: #ffffff;
  //     font-weight: 300;
  
  //     span {
  //       font-weight: bold;
  //     }
  //   }
  
  //   p {
  //     margin-bottom: 0;
  //     padding-left: 160px;
  //     padding-right: 160px;
  //     color: #ffffff;
  //     font-family: Arial;
  //     font-size: 15px;
  //   }
  
  //   .columns {
  //     padding-bottom: 0;

  //     .button {
  //       text-transform: uppercase;
  //       margin-left: 10px;

  //       a {
  //         font-family: Arial;
  //         font-size: 11px;
  //         font-weight: 400;
  //         padding-top: 15px;
  //         padding-bottom: 15px;
  //         padding-left: 20px;
  //         padding-right: 20px;
  //       }
  //     }
  
  //     .ghost-button {
  //       margin-top: 1px;

  //       table td {
  //         background: #34404e;
  //         background-color: #34404e;
  //         border: 1px solid #ffffff; 
  //       }
  //     }
  //   }
  // }


// Three Columns Section
// .three-column {
//   h3 {
//     margin-bottom: 0;
//     padding-top: 23px;
//     padding-bottom: 23px;
//     font-weight: 400;
//     color: #34404E;
//   }

//   p {
//     font-size: 13px;
//     color: #878787;
//     hyphens: none;
//   }
// }

// // Two Columns Section
// .two-columns {
//   background: #F5F6F8;
//   background-color: #F5F6F8;

//   .columns {
//     .two-columns-box {
//       padding-bottom: 0;
//       background: #ffffff;
//       background-color: #ffffff;
//       box-shadow: 0px 2px 0px 0px #E4E4E4;
      
//       h3 {
//         padding-top: 27px;
//         padding-bottom: 20px;
//         padding-left: 20px;
//         padding-right: 30px;
//         margin-bottom: 0;
//         font-size: 18px;
//         font-weight: 400;
//         color: #34404E;
//         hyphens: none;
//       }
  
//       p {
//         margin-bottom: 0;
//         hyphens: none;
//         font-size: 13px;
//         color: #878787;
//         padding-left: 20px;
//         padding-right: 20px;
//         padding-bottom: 30px;
//       }

//       table > tbody > tr > th {
//         padding-bottom: 40px;
//       }
  
//       table.button {
//         text-transform: uppercase;
//         margin-left: 20px;
//         margin-bottom: 0;
  
//         table td {
//           background-color: #ffffff;
//           background: #ffffff;
//           color: #FA6A2F;
//           border: 1px solid #FA6A2F;
//         }
  
//         a {
//           color: #FA6A2F;
//           font-size: 11px;
//           font-weight: 400;
//           padding-top: 5px;
//           padding-bottom: 5px;
//           padding-left: 10px;
//           padding-right: 10px;
//         }
//       }
//     }
//   }
// }

// // Banner Section
// .banner {
//   background: #34404E;
//   background-color: #34404E;

//   .columns {
//     padding-bottom: 0;

//     h4 {
//       font-family: Arial;
//       font-size: 18px;
//       color: #ffffff;
//       margin-bottom: 0;
//     }

//     p {
//       margin-bottom: 0;
//       font-family: Arial;
//       font-size: 13px;
//       color: #ffffff;
//       line-height: 2;
//       padding-left: 10px;
//       padding-right: 10px;
//       hyphens: none;
//     }

//     .button {
//       text-transform: uppercase;
//       margin-bottom: 0;
      
//       table td {
//         background: #34404e;
//         background-color: #34404e;
//         border: 1px solid;
//       }

//       a {
//         font-family: Arial;
//         font-size: 11px;
//         font-weight: 400;
//         padding-top: 8px;
//         padding-bottom: 8px;
//         padding-left: 20px;
//         padding-right: 20px;
//       }
//     }
//   }
// }

// // Full Width Section
// .go-anywhere {
//   .columns {
//     padding-bottom: 0;

//     h4 {
//       font-size: 21px;
//       font-family: Arial;
//       color: #34404E;
//     }
  
//     p {
//       margin-bottom: 0;
//       font-family: Arial;
//       font-size: 13px;
//       color: #878787;
//     }

//     a {
//       color: #FA6A2F;
//       font-size: 13px;
//       font-family: Arial;
//     }
//   }
// }

// // Full Width Image Section
// .headroom {
//   background: #F5F6F8;
//   background-color: #F5F6F8;

//   .headroom-box {
//     background: #ffffff;
//     background-color: #ffffff;
//     box-shadow: 0px 2px 0px 0px #E4E4E4;
//   }

//   .columns {
//     padding-bottom: 0;

//     h4 {
//       font-family: Arial;
//       font-size: 18px;
//       color: #34404E;
//       margin-bottom: 0;
//       padding-right: 10px;
//     }

//     p {
//       font-family: Arial;
//       font-size: 13px;
//       color: #878787;
//       margin-bottom: 0;
//       padding-right: 51px;
//       hyphens: none;
//     }

//     .button {
//       text-transform: uppercase;
//       margin-bottom: 0;
      
//       table td {
//         background: #ffffff;
//         background-color: #ffffff;
//         border: 1px solid #FA6A2F;
//       }

//       a {
//         font-family: Arial;
//         font-size: 11px;
//         font-weight: 400;
//         color: #FA6A2F;
//         padding-top: 10px;
//         padding-bottom: 10px;
//         padding-left: 20px;
//         padding-right: 20px;
//       }
//     }
//   }
// }

// // Stats Section
// .stats {
//   background: #FA6A2F;
//   background-color: #FA6A2F;

//   .columns {
//     padding-bottom: 0;

//     h3 {
//       margin-bottom: 0;
//       padding-top: 24px;
//       padding-bottom: 21px;
//       font-family: Arial;
//       font-size: 30px;
//       color: #ffffff;
//     }

//     h4 {
//       margin-bottom: 0;
//       font-family: Arial;
//       font-size: 13px;
//       color: #ffffff;
//       font-weight: 100;
//     }
//   }
// }

// // Sure Fire Section
// .sure-fire {
//   background: #ffffff;
//   background-color: #ffffff;

//   .columns {
//     padding-bottom: 0;

//     h3 {
//       font-family: Arial;
//       font-size: 22px;
//       font-weight: 400;
//       color: #34404E;
//       margin-bottom: 0;
//     }

//     p {
//       font-family: Arial;
//       font-size: 13px;
//       font-weight: 300;
//       color: #878787;
//       margin-bottom: 0;
//       line-height: 1.9;
//       hyphens: none;
//     }

//     a {
//       font-family: Arial;
//       font-size: 13px;
//       font-weight: 300;
//       color: #FA6A2F;
//     }
//   }
// }

// // Quality Strength Detail Section
// .quality-strength-detail {
//   background: #F5F6F8;
//   background-color: #F5F6F8;

//   .columns {
//     padding-bottom: 0;

//     h3 {
//       font-family: Arial;
//       font-size: 18px;
//       color: #34404E;
//       padding-top: 28px;
//       padding-bottom: 28px;
//       margin-bottom: 0;
//     }

//     p {
//       font-family: Arial;
//       font-size: 13px;
//       color: #878787;
//       line-height: 1.8;
//       hyphens: none;
//       padding-right: 1px;
//       margin-bottom: 0;
//       padding-bottom: 10px;
//     }

//     a {
//       font-family: Arial;
//       font-size: 13px;
//       color: #FA6A2F;
//     }
//   }
// }

// // Combo Sale Section
// .combo-sale {
//   background: #34404E;
//   background-color: #34404E;

//   tbody > tr > th {
//     padding-right: 0 !important;
//     padding-bottom: 0;
//   }

//   .columns {
//     padding-bottom: 0;

//     h3 {
//       font-family: Arial;
//       font-size: 22px;
//       color: #ffffff;
//       line-height: 1.4;
//       padding-right: 80px;
//     }

//     p {
//       font-family: Arial;
//       font-size: 13px;
//       font-weight: 400;
//       color: #ffffff;
//       line-height: 1.7;
//       hyphens: none;
//       padding-right: 50px;
//       padding-bottom: 35px;
//     }

//     .button {
//       text-transform: uppercase;
      
//       table td {
//         background: #34404E;
//         background-color: #34404E;
//         border: 1px solid #ffffff;
//       }

//       a {
//         font-family: Arial;
//         font-size: 11px;
//         font-weight: 400;
//         color: #ffffff;
//         padding-top: 8px;
//         padding-bottom: 8px;
//         padding-left: 15px;
//         padding-right: 15px;
//       }
//     }
//   }
// }

// // Select Models Section
// .select-models {
//   background: #F5F6F8;
//   background-color: #F5F6F8;

//   .select-models-box {
//     background: #ffffff;
//     background-color: #ffffff;
//   }

//   .columns {
//     padding-bottom: 0;

//     h4 {
//       font-family: Arial;
//       font-size: 18px;
//       color: #34404E;
//       line-height: 1.5;
//       padding-left: 42px;
//       margin-bottom: 20px;
//     }

//     p {
//       font-family: Arial;
//       font-size: 13px;
//       color: #878787;
//       line-height: 1.4;
//       padding-left: 42px;
//       hyphens: none;
//       padding-right: 10px;
//       padding-bottom: 30px;
//       margin-bottom: 0;
//     }

//     .button {
//       text-transform: uppercase;
//       margin-left: 42px;
//       margin-bottom: 0;
      
//       table td {
//         background: #ffffff;
//         background-color: #ffffff;
//         border: 1px solid #FA6A2F;
//       }

//       a {
//         font-family: Arial;
//         font-size: 11px;
//         font-weight: 400;
//         color: #FA6A2F;
//         padding-top: 8px;
//         padding-bottom: 8px;
//         padding-left: 15px;
//         padding-right: 15px;
//       }
//     }

//   }
// }

// // Double Columns Section
// .double-columns {
//   background: #ffffff;
//   background-color: #ffffff;

//   .columns {
//     padding-bottom: 0;
    
//     h3 {
//       font-family: Arial;
//       font-size: 18px;
//       line-height: 1.5;
//       color: #34404E;
//       hyphens: none;
//       padding-right: 10px;
//       margin-bottom: 0;
//     }

//     p {
//       font-family: Arial;
//       font-size: 13px;
//       line-height: 1.7;
//       padding-right: 10px;
//       hyphens: none;
//       color: #878787;
//       margin-bottom: 8px;
//     }

//     .button {
//       text-transform: uppercase;
//       margin-bottom: 0;
      
//       table td {
//         background: #ffffff;
//         background-color: #ffffff;
//         border: 1px solid #FA6A2F;
//       }

//       a {
//         font-family: Arial;
//         font-size: 11px;
//         color: #FA6A2F;
//         padding-top: 8px;
//         padding-bottom: 8px;
//         padding-left: 15px;
//         padding-right: 15px;
//         font-weight: 500;
//       }
//     }
//   }
// }

// // Globe Banner Section
// .globe-banner {
//   background: #FA6A2F;
//   background-color: #FA6A2F;

//   .columns {
//     padding-bottom: 0;

//     h4 {
//       font-family: Arial;
//       font-size: 22px;
//       color: #ffffff;
//       margin-bottom: 0;
//     }

//     p {
//       font-family: Arial;
//       font-size: 13px;
//       color: #ffffff;
//       line-height: 1.8;
//       padding-left: 10px;
//       padding-right: 10px;
//       hyphens: none;
//       margin-bottom: 0;
//     }

//     h5 {
//       font-family: Arial;
//       font-size: 14px;
//       color: #ffffff;
//       margin-bottom: 0;
//     }
//   }
// }

// // Clients Section
// .clients {
//   background: #ffffff;
//   background-color: #ffffff;

//   .columns {
//     padding-bottom: 0;

//     h3 {
//       margin-bottom: 0;
//       font-family: Arial;
//       font-size: 22px;
//       color: #34404E;
//     }
//   }
// }

// // Footer Section
// .footer {
//   // Top Footer Section
//   .top-footer {
//     background: #F5F6F8;
//     background-color: #F5F6F8;

//     .columns {
//       padding-bottom: 0;

//       .menu {
//         a {
//           font-family: Arial;
//           color: #FA6A2F;
//           font-size: 11px;
//         }

//         .menu-divider {
//           display: block;
//           width: 1px;
//           background: #878787;
//           background-color: #878787;
//           height: 15px;
//         }
//       }
//     }
//   }

//   // Bottom Footer Section
//   .bottom-footer {
//     background: #34404E;
//     background-color: #34404E;

//     .columns {
//       padding-bottom: 0;
      
//       p {
//         padding-top: 20px;
//         padding-bottom: 20px;
//         color: #ffffff;
//         font-family: Arial;
//         font-size: 10px;
//         margin-bottom: 0;
//       }
//     }
//   }
// }