// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #000000 !important;
  background-color: #000000 !important;
}

.header-top {
  background: #34404e;
  background-color: #34404e;

  .header-logo {
    h1 {
      color: #ffffff;
    }
  }
}

.header-bottom {
  background: #34404e;
  background-color: #34404e;

  h2 {
    color: #ffffff;
    font-weight: 300;

    span {
      font-weight: bold;
    }
  }

  p {
    padding-left: 160px;
    padding-right: 160px;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
  }

  .columns {
    .button {
      a {
        font-size: 11px;
        text-transform: uppercase;
      }
    }

    .ghost-button {
      a {
        background-color: #34404e;
      }
    }
  }
}

.three-column {
  h3 {
    margin-bottom: 0;
    padding-top: 23px;
    padding-bottom: 23px;
    font-weight: 600;
    color: #34404E;
  }

  p {
    font-size: 13px;
    color: #878787;
    hyphens: none;
  }
}

.two-column-box {
  .columns {
    h3 {
      padding-top: 27px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 30px;
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 600;
      color: #34404E;
      hyphens: none;
    }

    p {
      hyphens: none;
      font-size: 13px;
      color: #878787;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 30px;
    }

    table.button {
      text-transform: uppercase;

      table td {
        background-color: #ffffff;
        background: #ffffff;
        color: #FA6A2F;
        border: 1px solid #FA6A2F;
      }

      a {
        color: #FA6A2F;
        font-size: 11px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.banner {
  background: #34404E;
  background-color: #34404E;

  .columns {
    padding-bottom: 0;

    h4 {
      font-family: Arial;
      font-size: 18px;
      color: #ffffff;
    }

    p {
      font-family: Arial;
      font-size: 13px;
      color: #ffffff;
      line-height: 2;
      padding-left: 10px;
      padding-right: 10px;
      hyphens: none;
    }

    .button {
      text-transform: uppercase;
      
      table td {
        background: #34404e;
        background-color: #34404e;
        border: 1px solid;
      }

      a {
        font-family: Arial;
        font-size: 11px;
      }
    }
  }
}

.go-anywhere {
  .columns {
    padding-bottom: 0;

    h4 {
      font-size: 21px;
      font-family: Arial;
      color: #34404E;
    }
  
    p {
      margin-bottom: 0;
      font-family: Arial;
      font-size: 13px;
      color: #878787;
    }

    a {
      color: #FA6A2F;
      font-size: 13px;
      font-family: Arial;
    }
  }
}

.headroom {

}