<!--Full Width Section-->
<container>
    <row class="go-anywhere">
      <columns large="2"></columns>
      <columns large="8">
        <spacer size="63"></spacer>
        <row>
          <columns small="4">
            <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/go-anywhere-rectangle-dark.png" alt="Peach rectangle">
          </columns>
          <columns small="4">
            <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/go-anywhere-rectangle-light.png" alt="Light peach rectangle">
          </columns>
          <columns small="4">
            <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/go-anywhere-rectangle-dark.png" alt="Peach rectangle">
          </columns>
        </row>
        <spacer size="30"></spacer>
        <h4>Go Anywhere with our new Series of Summer Headphones</h4>
        <spacer size="50"></spacer>
        <p>
          Many website owners may find themselves confused or deflated by the lack of traffic their website is bringing in especially when they’ve been working hard to achieve high rankings within the search engines and promoting themselves frequently on social networks but what could be causing the websites downfall?
        </p>
        <a href="#">Read more</a>
        <spacer size="65"></spacer>
      </columns>
      <columns large="2"></columns>
    </row>
  </container>