<!--Select Models Section-->
<container>
    <row class="select-models">
      <columns large="2"></columns>
      <columns large="8">
        <spacer size="61"></spacer>
        <row class="select-models-box">
          <columns large="8">
            <spacer size="33"></spacer>
            <h4>What are you waiting for? Save 10% on select models until Jan 10th</h4>
            <p>Basic search engine optimisation is essential for any website. SEO will help your website to be found within the search engines keywords relating to...</p>
            <button href="#">Read more</button>
            <spacer size="42"></spacer>
          </columns>
          <columns>
            <spacer size="33"></spacer>
            <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/select-models-circle.png" class="text-center" alt="Peach circle">
            <spacer size="42"></spacer>
          </columns>
        </row>
        <spacer size="61"></spacer>
      </columns>
      <columns large="2"></columns>
    </row>
  </container>