<!--Full Width Image Section-->
<container>
    <row class="headroom">
      <columns large="2"></columns>
      <columns large="8">
        <spacer size="66"></spacer>
        <row class="headroom-box">
          <columns large="3">
            <spacer size="37"></spacer>
            <img class="text-center" src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/headroom-circle.png" alt="Peach circle">
          </columns>
          <columns>
            <spacer size="37"></spacer>
            <h4 class="text-left small-text-center">Here's some of Headroom Staffers Enjoying Epic Summers</h4>
            <spacer size="23"></spacer>
            <row>
              <columns large="11">
                <p class="text-left small-text-center">Basic search engine optimization is essential for any website. SEO will help your website to be found within the search engines keywords relating to...</p>
              </columns>
              <columns large="1"></columns>
            </row>
            <spacer size="30"></spacer>
            <row>
              <columns small="12" large="4">
                <center>
                  <button href="#">Read More</button>
                </center>
              </columns>
              <columns small="12" large="8"></columns>
            </row>
            <spacer size="40"></spacer>
          </columns>
        </row>
        <spacer size="61"></spacer>
      </columns>
      <columns large="2"></columns>
    </row>
  </container>