<!--Sure Fire Section-->
<container>
    <row class="sure-fire">
      <columns large="2"></columns>
      <columns large="8">
        <spacer size="62"></spacer>
        <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/sure-fire-rectangle.png" alt="Rectangle">
        <spacer size="40"></spacer>
        <h3 class="text-center">Sure-Fire Father's Day Gifts</h3>
        <spacer size="36"></spacer>
        <p class="text-center">Many website owners may find themselves confused or deflated by the lack of traffic their website engines and promoting themselves frequently on social networks but what could be causing the websites downfall?</p>
        <center>
          <a href="#">Read more</a>
        </center>
        <spacer size="70"></spacer>
      </columns>
      <columns large="2"></columns>
    </row>
  </container>