<!--Double Columns Section-->
<container>
    <row class="double-columns">
      <columns large="2"></columns>
      <columns large="8">
        <spacer size="60"></spacer>
        <row>
          <columns>
            <row>
              <center>
                <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/double-column-square.png" alt="Peach square">
              </center>
            </row>
            <spacer size="30"></spacer>
            <h3>Try our New High Resolution Player</h3>
            <spacer size="30"></spacer>
            <p>Online marketing in 2014 will be dominated by dynamic content (blogging) and social media. Next year social media marketing...
                <br> will no longer be a luxury...</p>
            <button href="#">Read more</button>
            <spacer size="30"></spacer>
          </columns>
          <columns>
            <row>
              <center>
                <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/double-column-square.png" alt="Peach square">
              </center>
            </row>
            <spacer size="30"></spacer>
            <h3>Ever Wondered why our Headphones get Makeovers?</h3>
            <spacer size="30"></spacer>
            <p>Online marketing in 2014 will be dominated by dynamic content (blogging) and social media. Next year social media marketing...
                <br>will no longer be a luxury...</p>
            <button href="#">Read more</button>
            <spacer size="30"></spacer>
          </columns>
        </row>
        <spacer size="33"></spacer>
      </columns>
      <columns large="2"></columns>
    </row>
  </container>