<!--Quality Strength Detail Section-->
<container>
    <row class="quality-strength-detail">
      <columns large="2"></columns>
      <columns large="8">
        <spacer size="35"></spacer>
        <row>
          <columns>
            <spacer size="35"></spacer>
            <center>
              <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/quality-strength-detail-square.png" alt="Peach square">
            </center>
            <h3 class="small-text-center">Quality</h3>
            <p class="small-text-center">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Nullam id dolor id nibh.</p>
            <row>
              <columns large="4">
                <center>
                  <a href="#" class="small-text-center">Read more</a>
                </center>
              </columns>
              <columns large="8"></columns>
            </row>
            <spacer size="35"></spacer>
          </columns>
          <columns>
            <spacer size="35"></spacer>
            <center>
              <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/quality-strength-detail-square.png" alt="Peach square">
            </center>
            <h3 class="small-text-center">Strength</h3>
            <p class="small-text-center">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Nullam id dolor id nibh.</p>
            <row>
              <columns large="4">
                <center>
                  <a href="#" class="small-text-center">Read more</a>
                </center>
              </columns>
              <columns large="8"></columns>
            </row>
            <spacer size="35"></spacer>
          </columns>
          <columns>
            <spacer size="35"></spacer>
            <center>
              <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/quality-strength-detail-square.png" alt="Peach square">
            </center>
            <h3 class="small-text-center">Detail</h3>
            <p class="small-text-center">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Nullam id dolor id nibh.</p>
            <row>
              <columns large="4">
                <center>
                  <a href="#" class="small-text-center">Read more</a>
                </center>
              </columns>
              <columns large="8"></columns>
            </row>
            <spacer size="35"></spacer>
          </columns>
        </row>
        <spacer size="35"></spacer>
      </columns>
      <columns large="2"></columns>
    </row>
  </container>