<!--Three Columns Section-->
<container>
    <row class="three-column">
      <columns small="12" large="2"></columns>
      <columns small="12" large="8">
        <spacer size="31"></spacer>
        <row>
          <columns  small="12" large="4">
            <spacer size="31"></spacer>
            <row>
              <columns>
                <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/circle.png" class="text-center" alt="Circle">
              </columns>
            </row>
            <spacer size="28"></spacer>
            <row>
              <columns>
                <h3 class="text-center">Fully Tested</h3>
              </columns>
            </row>
            <spacer size="25"></spacer>
            <row>
              <columns>
                <p class="text-center">Online marketing will be<br> dominated by dynamic</p>
              </columns>
            </row>
            <spacer size="35"></spacer>
          </columns>
          <columns small="12" large="4">
            <spacer size="31"></spacer>
            <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/circle.png" class="text-center" alt="Circle">
            <spacer size="28"></spacer>
            <h3 class="text-center">Great Features</h3>
            <spacer size="25"></spacer>
            <p class="text-center">Online marketing will be<br> dominated by dynamic</p>
            <spacer size="35"></spacer>
          </columns>
          <columns small="12" large="4">
            <spacer size="31"></spacer>
            <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/circle.png" class="text-center" alt="Circle">
            <spacer size="28"></spacer>
            <h3 class="text-center">Awesome Design</h3>
            <spacer size="25"></spacer>
            <p class="text-center">Online marketing will be<br> dominated by dynamic</p>
            <spacer size="3"></spacer>
          </columns>
        </row>
        <spacer size="31"></spacer>
      </columns>
      <columns small="12" large="2"></columns>
    </row>
  </container>