<!--Banner Section-->
<container>
    <row class="banner">
      <columns large="2"></columns>
      <columns large="8">
        <spacer size="70"></spacer>
        <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/banner-circle.png" class="text-center" alt="Peach circle">
        <spacer size="35"></spacer>
        <h4 class="text-center">Doodle Bug</h4>
        <spacer size="25"></spacer>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <spacer size="35"></spacer>
        <center>
          <button href="#">About Me</button>
        </center>
        <spacer size="70"></spacer>
      </columns>
      <columns large="2"></columns>
    </row>
  </container>