<!--Globe Banner Section-->
<container>
    <row class="globe-banner">
      <columns large="2"></columns>
      <columns large="8">
        <spacer size="62"></spacer>
        <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/banner-circle.png" class="text-center" alt="Peach Circle">
        <spacer size="35"></spacer>
        <h4 class="text-center">We Are Known All Over The Globe</h4>
        <spacer size="35"></spacer>
        <p class="text-center">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat."</p>
        <spacer size="35"></spacer>
        <h5 class="text-center">Jonathan Strong</h5>
        <h5 class="text-center">Owner Music Group</h5>
        <spacer size="50"></spacer>
      </columns>
      <columns large="2"></columns>
    </row>
  </container>