<!--Stats Section-->
<container>
    <row class="stats">
      <columns large="2"></columns>
      <columns large="8">
        <spacer size="31"></spacer>
        <row>
          <columns>
            <spacer size="30"></spacer>
            <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/stats-circle.png" class="text-center" alt="Circle">
            <h3 class="text-center" >98</h3>
            <h4 class="text-center" >Projects Finished</h4>
            <spacer size="30"></spacer>
          </columns>
          <columns>
            <spacer size="30"></spacer>
            <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/stats-circle.png" class="text-center" alt="Circle">
            <h3 class="text-center" >23</h3>
            <h4 class="text-center" >Cups of Coffee</h4>
            <spacer size="30"></spacer>
          </columns>
          <columns>
            <spacer size="30"></spacer>
            <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/stats-circle.png" class="text-center" alt="Circle">
            <h3 class="text-center" >87</h3>
            <h4 class="text-center" >Awards Won</h4>
            <spacer size="30"></spacer>
          </columns>
          <columns>
            <spacer size="30"></spacer>
            <img src="https://raw.githubusercontent.com/davidmichaelfrost/email-phoenix/master/etc/build/img/stats-circle.png" class="text-center" alt="Circle">
            <h3 class="text-center" >99</h3>
            <h4 class="text-center" >Happy Customers</h4>
            <spacer size="30"></spacer>
          </columns>
        </row>
        <spacer size="31"></spacer>
      </columns>
      <columns large="2"></columns>
    </row>
  </container>