<!--Footer Section-->
<container class="footer">
    <!--Top Footer Section-->
    <row class="top-footer">
      <columns large="2"></columns>
      <columns large="1">
        <spacer size="45"></spacer>
        <row>
          <columns>
            <img src="{{root}}/assets/img/facebook-icon.png" alt="Facebook icon">
          </columns>
          <columns>
            <img src="{{root}}/assets/img/twitter-icon.png" alt="Twitter icon">
          </columns>
          <columns>
            <img src="{{root}}/assets/img/dribbble-icon.png" alt="Dribbble icon">
          </columns>
        </row>
      </columns>
      <columns large="2"></columns>
    </row>
    <row class="top-footer">
      <columns large="2"></columns>
      <columns large="2">
        <spacer size="25"></spacer>
        <menu>
          <item href="#">Check online</item>
          <columns style="width: 1%;">
            <span class="menu-divider"></span>
          </columns>
          <item href="#">Unsubscribe</item>
          <columns style="width: 1%;">
            <span class="menu-divider"></span>
          </columns>
          <item href="#">Forward to a Friend</item>
        </menu>
        <spacer size="25"></spacer>
      </columns>
      <columns large="2"></columns>
    </row>
    <!--Bottom Footer Section-->
    <row class="bottom-footer">
      <columns large="2"></columns>
      <columns large="8">
        <p class="text-center">Copyright &copy David Frost 2019. All Rights Reserved.</p>
      </columns>
      <columns large="2"></columns>
    </row>
  </container>