<!--Footer Section-->
<container>
  <!--Top Footer Section-->
  <row class="top-footer">
    <columns small="12" large="2"></columns>
    <columns small="12" large="8">
      <spacer size="45"></spacer>
      <row>
        <columns small="2" large="4"></columns>
        <columns small="2" large="1">
          <center>
            <img src="{{root}}/assets/img/facebook-icon.png" alt="Facebook icon">
          </center>
        </columns>
        <columns small="4" large="1">
          <center>
            <img src="{{root}}/assets/img/twitter-icon.png" alt="Twitter icon">
          </center>
        </columns>
        <columns small="2" large="1">
          <center>
            <img src="{{root}}/assets/img/dribbble-icon.png" alt="Dribbble icon">
          </center>
        </columns>
        <columns small="2" large="4"></columns>
      </row>
      <row>
        <columns>
          <spacer size="25"></spacer>
          <center>
            <menu>
              <item href="#">Check online</item>
              <item href="#" class="menu-divider">Unsubscribe</item>
              <item href="#">Forward to a Friend</item>
            </menu>
          </center>
          <spacer size="25"></spacer>
        </columns>
      </row>
    </columns>
    <columns small="12" large="2"></columns>
  </row>
  <!--Bottom Footer Section-->
  <row class="bottom-footer">
    <columns large="2"></columns>
    <columns large="8">
      <spacer size="20"></spacer>
      <p class="text-center">Copyright &copy David Frost 2019. All Rights Reserved.</p>
      <spacer size="20"></spacer>
    </columns>
    <columns large="2"></columns>
  </row>
</container>