<!--Header Section-->
<container>
  <!--Top Header Section-->
  <row class="top-header">
    <columns small="12" large="2"></columns>
    <columns small="12" large="8">
      <spacer size="20"></spacer>
      <row>
        <columns small="6" large="8" class="header-logo">
          <h1>HTML Email</h1>
        </columns>
        <columns small="6" large="4">
          <menu>
              <item href="#">About</item>
              <item href="#">Portfolio</item>
              <item href="#" class="important">More!</item>
            </menu>
        </columns>
      </row>
      <spacer size="20"></spacer>
    </columns>
    <columns small="12" large="2"></columns>
  </row>
  <!--Bottom Header Section-->
  <row class="bottom-header">
    <columns large="2"></columns>
    <columns large="8">
      <spacer size="60"></spacer>
      <row>
        <columns>
          <h2 class="text-center"><span>HTML</span> Email Studio</h2>
        </columns>
      </row>
      <spacer size="40"></spacer>
      <row>
        <columns large="6">
          <p class="text-center">It's about finding that perfect solution<br> for a clients problem</p>
        </columns>
      </row>
      <spacer size="50"></spacer>
      <row>
        <columns></columns>
        <columns small="6" large="3">
          <button href="#" class="large">Start Today!</button>
        </columns>
        <columns small="6" large="3">
          <button href="#" class="large ghost-button">Learn More</button>
        </columns>
        <columns></columns>
      </row>
      <spacer size="100"></spacer>
    </columns>
    <columns large="2"></columns>
  </row>
</container>
